<h1>Hi {{ username }}!</h1>


<p>To reset your password, please visit the following link</p>
<p>
 <br><br>
    <a href="{{ url|raw }}">Reset my password</a>.
    This link will remain active until {{ expiration_date|date('d/m/Y à H:i') }}.
</p>

<p>
    Cheers!
</p>
